.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 50px;
  border-radius: 56px;
  border: 1px solid $color-font-dark;

  @include font(24px, 24px, 500, -0.4px);
  text-transform: capitalize;
  color: $color-font-dark;

  transition: all 0.4s cubic-bezier(0.2, 0, 0, 0.8);
}

.btn._light {
  color: $color-font-base;
  border: 1px solid $color-font-base;
}

.btn._colored {
  background-color: $color-prim;
  border: none;
}

.icon-btn {
  background-size: 100% 100%;
  transition: all 0.4s cubic-bezier(0.2, 0, 0, 0.8);

  &:hover {
    transform: rotate(360deg) scale(1.1);
  }
}

.img-btn {
  display: block;
  border-radius: 18px;
  border: 2px solid $color-prim-add;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }
}

.settings-btn {
  width: 34px;
  height: 34px;
  background-image: url('./assets/svg/settings-btn.svg');
}

.score-btn {
  width: 28px;
  height: 28px;
  background-image: url('./assets/svg/score-btn.svg');
}

.exit-btn {
  width: 15px;
  height: 15px;
  background-image: url('./assets/svg/exit-btn.svg');
}

.exit-btn_dark {
  background-image: url('./assets/svg/exit-btn-dark.svg');
}

.prev-page-btn {
  width: 22px;
  height: 40px;
  background-image: url('./assets/svg/prev-view-btn.svg');
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center center;

  &:hover {
    transform: none;
  }
}

.volume-btn {
  height: 16px;
  background-size: 100% 100%;

  &:hover {
    transform: none;
  }
}

.volume-btn._off {
  width: 23px;
  background-image: url('./assets/svg/volume-off-icon.svg');
}

.volume-btn._on {
  width: 16px;
  background-image: url('./assets/svg/volume-on-icon.svg');
}

.change-value-btn {
  width: 33px;
  height: 33px;
  background-size: 100% 100%;

  &:hover {
    transform: none;
  }
}

.change-value-btn._decrease {
  background-image: url('./assets/svg/minus-icon.svg');
}

.change-value-btn._increase {
  background-image: url('./assets/svg/plus-icon.svg');
}
