.image-wrap {
  position: relative;

  .img {
  }
}
.picture-name {
  margin-top: 30px;
  @include font(24px, 24px, 500, normal);
}

.description {
  margin-top: 10px;
  font-style: italic;
}

.author {
}
.year {
}
