.btn {
  padding: 14px 8px 16px;
  @include font(24px, 24px, 500, -0.4px);
  text-transform: capitalize;
  text-align: center;
  color: $color-font-base;
  border: 1px solid $color-font-base;
  border-radius: 56px;
}

.btn_dark {
  color: $color-font-dark;
  border: 1px solid $color-font-dark;
}

.btn_colored {
  background-color: $color-prim;
  color: $color-font-dark;
}

.img-btn {
  border-radius: 18px;
  border: 1.8px solid $color-prim-add;

  .img {
    width: 100%;
    border-radius: 18px;
  }
}

.settings-btn {
  a {
    display: block;
    width: 34px;
    height: 34px;
    background-image: url('./assets/svg/settings-btn.svg');
    background-size: 100% 100%;
  }
}

.category-btn {
  width: 268px;
  padding: 0;

  a {
    display: block;
    width: 100%;
    padding: 14px 8px 16px;
  }
}

.score-btn {
  width: 28px;
  height: 28px;
  background-image: url('./assets/svg/score-btn.svg');
  background-size: 100% 100%;
}

.exit-btn {
  width: 15px;
  height: 15px;
  background-image: url('./assets/svg/exit-btn.svg');
  background-size: 100% 100%;
}

.exit-btn_dark {
  background-image: url('./assets/svg/exit-btn-dark.svg');
}
