{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint-config-airbnb-base", "eslint-config-prettier"],

  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021
  },

  "ignorePatterns": ["*.config.js", "node_modules/", "dist/", "jsconfig.json"],
  "rules": {}
}
