.after-answer__pop-up {
  .image-wrap {
    position: relative;
  }

  .answer-icon {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    position: absolute;
    left: 16px;
    bottom: 20px;
    z-index: 100;
  }

  .correct__answer-icon {
    background-image: url('./assets/svg/correct-icon.svg');
  }

  .wrong__answer-icon {
    background-image: url('./assets/svg/wrong-icon.svg');
  }

  .btn {
    width: 85%;
    margin: 25px auto 0;
    @include font(14px, 14px, 500, -0.4px);
  }
}
