.quiz__view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-desktop-large {
    padding-top: 30px;
  }

  .main {
    flex-grow: 1;

    .container {
      position: relative;

      @include media-tablet-small {
        max-width: 488px;
        margin: 0 auto;
      }

      @include media-desktop-large {
        max-width: 640px;
      }
    }

    @include media-tablet {
      margin-top: 80px;
    }

    @include media-desktop {
      margin-top: 0;
    }
  }

  .exit-btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  .slider-wrap {
    width: 100%;
    overflow-x: hidden;
  }

  .questions-container {
    display: flex;

    @include media-tablet {
      height: 100%;
    }
  }

  .footer {
    margin-top: 45px;
  }
}
