.question-answer__pop-up {
  .answer-icon {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    position: absolute;
    left: 16px;
    bottom: 16px;
  }

  .correct__answer-icon {
    background-image: url('./assets/svg/correct-icon.svg');
  }

  .wrong__answer-icon {
    background-image: url('./assets/svg/wrong-icon.svg');
  }

  .btn {
    margin-top: 25px;
    width: 85%;
    @include font(14px, 14px, 500, -0.4px);
  }
}
