.category__view {
  @include media-desktop {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .header {
    .container {
      padding-left: 0;
      padding-right: 0;

      @include media-desktop {
        padding-left: 50px;
        padding-right: 50px;
      }

      @include media-desktop-large {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }

  .logo {
    .logo__text:first-child {
      color: $color-prim;
    }
  }

  .main {
    @include media-desktop {
      flex-grow: 1;
    }

    .container {
      height: 100%;

      @include media-desktop {
        padding-left: 50px;
        padding-right: 50px;
      }

      @include media-desktop-large {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }

  .title {
    margin-top: 27px;
    @include font(24px, 24px, 500, -0.5px);

    @include media-tablet-small {
      @include font(36px, 36px, 500, -0.91px);
    }
  }

  .cards-container {
    margin-top: 50px;
  }

  .footer {
    margin-top: 50px;
  }
}
