html {
  font-size: 14px;
}

body {
  @extend %font-main;
  color: $color-font-base;
}

#root {
  min-height: 100vh;
}

.view {
  width: 100%;
  min-height: 100vh;
  padding-top: 22px;
  padding-bottom: 10px;
  background-color: $color-bg-dark;
}

.title {
  text-transform: capitalize;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
