html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  @extend %font-main;
  color: $color-font-base;
}

.view {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  padding: 22px 16px 10px;
  background-color: $color-bg-dark;

  @include media-desktop {
    padding-top: 45px;
  }
}

.title {
  text-transform: capitalize;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 18px;

  @include media-tablet-small {
    row-gap: 25px;
    column-gap: 19px;
  }

  @include media-desktop {
    column-gap: 20px;
  }

  .card-item {
    width: calc((100% - 18px) / 2);

    @include media-tablet-small {
      width: calc((100% - 38px) / 3);
    }

    @include media-desktop {
      width: calc((100% - 100px) / 6);
    }

    .card__image {
      width: 100%;

      @include adaptiveProperty(height, 320, 519, 135, 234.5);

      @include media-tablet-small {
        @include adaptiveProperty(height, 520, 1023, 150, 317.7);
      }

      @include media-desktop {
        @include adaptiveProperty(height, 1024, 1920, 132, 265);
      }
    }

    .img {
      filter: grayscale(100%);
    }

    .img._passed {
      filter: grayscale(0%);
    }
  }
}

.loading {
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;

  @include font(20px, 20px, 500);
  color: $color-prim;

  @include media-mobile-large {
    padding-top: 20px;
    padding-left: 20px;

    @include font(24px, 24px, 500);
  }
}
