.question-view {
  min-width: 100%;

  @include media-tablet {
    height: 100%;
  }

  .timer-output {
    display: flex;
    justify-content: flex-end;

    .seconds {
      @include font(16px, 16px, 400, 1.5px);
    }
  }

  .question-wrap {
  }

  .question__text {
    margin-top: 34px;
    @include font(22px, 22px, 500, -0.5px);
  }

  .question__image-wrap {
    margin-top: 25px;
    display: block;
    width: 100%;

    @include adaptiveProperty(height, 320, 519, 288, 487);

    @include media-tablet-small {
      height: 488px;
    }

    @include media-desktop {
      height: 400px;
    }

    @include media-desktop-large {
      height: 540px;
    }

    .img {
      width: 100%;

      @include media-desktop {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .question__answers-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;

    @include media-desktop {
      row-gap: 30px;
    }

    .question__answer-btn {
      min-width: calc((100% - 12px) / 2);
      max-width: calc((100% - 12px) / 2);

      @include media-desktop {
        min-width: calc((100% - 25px) / 2);
        max-width: calc((100% - 25px) / 2);
      }
    }

    .question__answer-btn.img-btn {
      @include adaptiveProperty(height, 320, 519, 138, 238);

      @include media-tablet-small {
        height: 238px;
      }

      @include media-desktop {
        height: 232px;
      }
      @include media-desktop-large {
        height: 308px;
      }
    }

    .btn {
      padding: 8px 6px;
      height: 50px;
      @include font(16px, 16px, 300, -0.91px);

      /* &:hover {
        background-color: $color-prim;
        color: $color-font-dark;
      } */
    }

    .question__answer-btn.correct {
      background-color: #3dda69;
    }

    .question__answer-btn.wrong {
      background-color: #c5585d;
    }

    .question__answer-btn.img-btn.correct {
      .img {
        filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
      }
    }

    .question__answer-btn.img-btn.wrong {
      border-color: transparent;
      .img {
        filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(-50deg) saturate(600%)
          contrast(0.7);
      }
    }
  }

  .artists__question-view {
    .question-wrap {
    }
    .question__text {
    }
    .question__image-wrap {
    }
    .img {
    }
    .question__answers-container {
    }
    .question__answer-btn {
    }
  }

  .pictures__question-view {
    .question-wrap {
    }
    .question__text {
    }
    .question__image-wrap {
    }
    .img {
    }
    .question__answers-container {
    }
    .question__answer-btn {
      .img {
        width: 100%;
      }
    }
  }
}
