.footer {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include font(14px, 14px, 400, -0.63px);

    @include media-mobile-large {
      @include font(16px, 16px, 400, -0.63px);
    }
  }
}

.footer__author {
  @include media-mobile-large {
    flex-grow: 1;
    text-align: right;
    padding-right: 30px;
  }
}
