.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font(14px, 14px, 400, -0.63px);

  .rss-logo {
  }
}

.footer__author {
}

.author__link {
}

.footer__date {
}
