.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font(14px, 14px, 400, -0.63px);

  .rss-logo {
    width: 61px;
    height: 23px;
    background-image: url('./assets/svg/footer-logo.svg');
    background-size: 100% 100%;
  }
}

.footer__author {
}

.author__link {
}

.footer__date {
}
